@import '../../common/variables';

.assignees-page {
  .md-table {
    .md-body {
      .md-cell {
        .material-icons {
          font-size: 14px;
          margin-right: 12px;
          color: $primary-color;
        }

        a {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}
