<etp-navbar></etp-navbar>
<main class="home-page">
  <md-content>
    <etp-main-menu></etp-main-menu>

    <div layout="row">
      <div flex="40">
        <etp-simple-search ng-model="$ctrl.query.search" on-search="$ctrl.onSearch()"></etp-simple-search>
      </div>
      <div flex="60" layout layout-align="end">
        <md-input-container>
          <md-select ng-model="$ctrl.query.scope" 
                    md-on-close="$ctrl.onScopeChange()"
                    aria-label="scope">
            <md-option value="all">Show All</md-option>
            <md-option value="with_macro_plan">With Plan</md-option>
            <md-option value="without_macro_plan">Without Plan</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>

    <md-table-container>
      <table md-table md-row-select="false" md-progress="$ctrl.promise">
        <thead md-head md-order="query.order" md-on-reorder="$ctrl.onOrder">
          <tr md-row>
            <th md-column md-order-by="first_name"><span>Name</span></th>
            <th md-column md-order-by="email"><span>Email</span></th>
            <th md-column md-order-by="phone"><span>Phone</span></th>
            <th md-column><span>Plan start at</span></th>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="item in $ctrl.clients" ng-click="$ctrl.onSelect(item)">
            <td md-cell>{{item.first_name}} {{item.last_name}}</td>
            <td md-cell>{{item.email}}</td>
            <td md-cell>{{item.phone}}</td>
            <td md-cell>{{item.current_plan.start_date | simpleDate}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="$ctrl.query.size"
          md-limit-options="[10, 15, 20]"
          md-page="$ctrl.query.page"
          md-total="{{$ctrl.total}}" 
          md-on-paginate="$ctrl.onPaginate" 
          md-page-select></md-table-pagination>
  </md-content>
</main>
