<etp-navbar></etp-navbar>
<main class="home-page">
  <md-content>
    <etp-main-menu></etp-main-menu>

    <md-table-container>
      <table md-table md-row-select="false" md-progress="$ctrl.promise">
        <thead md-head md-order="query.order" md-on-reorder="$ctrl.onOrder">
          <tr md-row>
            <th md-column md-order-by="first_name"><span>Name</span></th>
            <th md-column md-order-by="email"><span>Email</span></th>
            <th md-column md-order-by="phone"><span>Phone</span></th>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="item in $ctrl.clients" ng-click="$ctrl.onSelect(item)">
            <td md-cell>{{item.first_name}} {{item.last_name}}</td>
            <td md-cell>{{item.email}}</td>
            <td md-cell>{{item.phone}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="$ctrl.query.size"
          md-limit-options="[10, 15, 20]"
          md-page="$ctrl.query.page"
          md-total="{{$ctrl.total}}" 
          md-on-paginate="$ctrl.onPaginate" 
          md-page-select></md-table-pagination>
  </md-content>
</main>
