<div class="etp-track-log">
  <section class="header" layout="row" layout-align="space-between center">
    <md-subheader>Tracking Log</md-subheader>
    <md-subheader>
      <md-button ng-click="$ctrl.prev()" class="md-icon-button">
        <i class="material-icons">keyboard_arrow_left</i>
      </md-button>
      <span>{{$ctrl.months[$ctrl.query.month - 1]}} {{$ctrl.query.year}}</span>
      <md-button ng-click="$ctrl.next()" ng-disabled="!$ctrl.isNextable()" class="md-icon-button">
        <i class="material-icons">keyboard_arrow_right</i>
      </md-button>
    </md-subheader>
  </section>
  <section class="body">
    <md-table-container>
      <table md-table md-row-select="false">
        <thead md-head>
          <tr md-row>
            <th md-column>Date</th>
            <th md-column>Proteins</th>
            <th md-column>Carbs</th>
            <th md-column>Fats</th>
            <th md-column>Sodium</th>
            <th md-column>Steps</th>
            <th md-column>Sleep</th>
            <th md-column>Calories</th>
            <th md-column>Weight</th>
        </thead>
        <tbody md-body ng-repeat="item in $ctrl.dataRows" ng-class="item.type">
          <tr md-row ng-if="$ctrl.isTrendRecord(item)">
            <td md-cell>{{item.trend_date | simpleDate}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'protein')">{{item.protein}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'carbs')">{{item.carbs}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'fat')">{{item.fat}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'sodium')">{{item.sodium}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'steps')">{{item.steps}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'sleep_minutes')">{{item.sleep_minutes | formatMinutes}}</td>
            <td md-cell ng-class="$ctrl.getCellClass(item, 'calories_burned')">{{item.calories_burned}}</td>
            <td md-cell>{{item.weight}}</td>
          </tr>

          <tr ng-if="$ctrl.isMacroReview(item)">
            <td colspan="9"  ng-class="{pending: item.pending}">
              <div layout="row">
                <div flex="10" layout="row" layout-align="begin center">
                  <span class="item-date">
                    {{item.date | simpleDate}}
                  </span>
                </div>
                <div flex="85">
                  <span layout layout-align="center center">REVIEW REQUESTED {{item.is_auto ? "(AUTO)" : ""}}</span>
                  <md-divider ng-if="!item.pending"></md-divider>
                  <p ng-if="!item.pending" layout="row" layout-align="space-between center">
                    <i>{{item.notes}}</i>
                    <span>{{item.coach.first_name}} {{item.coach.last_name}}</span>
                  </p>
                </div>
                <span flex="5" layout layout-align="center center">
                  <a ui-sref="review(item)" class="btn-link">
                    <i class="material-icons">edit</i>
                  </a>
                </span>
              </div>
            </td>
          </tr>

          <tr ng-if="$ctrl.isMacroPlan(item)" class="item-head">
            <td colspan="9">
              <div layout="row">
                <div flex="10" layout="row" layout-align="begin center">
                  <span class="item-date" ng-click="$ctrl.togglePlan(item)">
                    <i class="material-icons" ng-show="!item.isExpanded">keyboard_arrow_down</i>
                    <i class="material-icons" ng-show="item.isExpanded">keyboard_arrow_up</i>
                  </span>
                </div>
                <div layout="column" ng-click="$ctrl.togglePlan(item)" flex="85">
                  <span layout layout-align="center center">PLAN UPDATED</span>
                  <md-divider></md-divider>
                  <p layout="row" layout-align="space-between center">
                    <i>{{item.notes}}</i>
                    <span>{{item.coach.first_name}} {{item.coach.last_name}}</span>
                  </p>
                </div>
                <span flex="5" layout layout-align="center center">
                  <a ui-sref="client({id: $ctrl.client.id, plan_id: item.id})" class="btn-link">
                    <i class="material-icons">edit</i>
                  </a>
                </span>
              </div>
            </td>
          </tr>
          <tr md-row ng-if="$ctrl.isMacroPlan(item)" class="item-body super" ng-show="item.isExpanded">
            <td md-cell>{{item.start_date | simpleDate}}</td>
            <td md-cell>{{item.super_protein}}</td>
            <td md-cell>{{item.super_carbs}}</td>
            <td md-cell>{{item.super_fat}}</td>
            <td md-cell colspan="5">SUPER</td>
          </tr>
          <tr md-row ng-if="$ctrl.isMacroPlan(item)" class="item-body high" ng-show="item.isExpanded">
            <td md-cell></td>
            <td md-cell>{{item.high_protein}}</td>
            <td md-cell>{{item.high_carbs}}</td>
            <td md-cell>{{item.high_fat}}</td>
            <td md-cell colspan="5">HIGH</td>
          </tr>
          <tr md-row ng-if="$ctrl.isMacroPlan(item)" class="item-body medium" ng-show="item.isExpanded">
            <td md-cell></td>
            <td md-cell>{{item.medium_protein}}</td>
            <td md-cell>{{item.medium_carbs}}</td>
            <td md-cell>{{item.medium_fat}}</td>
            <td md-cell colspan="5">MEDIUM</td>
          </tr>
          <tr md-row ng-if="$ctrl.isMacroPlan(item)" class="item-body low" ng-show="item.isExpanded">
            <td md-cell></td>
            <td md-cell>{{item.low_protein}}</td>
            <td md-cell>{{item.low_carbs}}</td>
            <td md-cell>{{item.low_fat}}</td>
            <td md-cell colspan="5">LOW</td>
          </tr>

          <tr ng-if="$ctrl.isClientNote(item)">
            <td colspan="9">
              <div layout="row">
                <div flex="10" layout="row" layout-align="begin center">
                  <span class="item-date">
                    {{item.date | simpleDate}}
                  </span>
                </div>
                <div flex="85">
                  <p layout="row" layout-align="space-between center">
                    <i>{{item.content}}</i>
                    <span>Client's Note</span>
                  </p>
                </div>
              </div>
            </td>
          </tr>

          <tr ng-if="$ctrl.isGoalRecord(item)">
            <td colspan="9">
              <div layout="row">
                <div flex="10" layout="row" layout-align="begin center">
                  <span class="item-date">
                    {{item.date | simpleDate}}
                  </span>
                </div>
                <div flex="85" layout="row" layout-align="center center">
                  <span>GOAL UPDATED : {{item.description}}</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </section>

</div>