@import '../../common/variables';

.etp-track-log {
  .header {
    background-color: $light-bg-color;

    .md-subheader {
      background-color: $light-bg-color;
    }
  }

  .body {
    thead {
      background-color: $light-bg-color;
    }

    tbody {
      &.md-body {
        td {
          border-top: 1px solid $border-color;
        }

        &.macro-review {
          tr {
            td {
              background-color: $primary-color;
              padding: 8px 0;
              color: $button-color;
              font-weight: 700;

              &.pending {
                background-color: $warning-color;
              }

              md-divider {
                margin: 5px 0 3px;
              }

              p {
                font-size: 12px;
                margin: 0;
                font-weight: 400;

                span {
                  font-weight: 600;
                  margin-left: 40px;
                  white-space: no-wrap;
                }
              }
            }
          }
        }

        &.macro-plan {
          .item-head {
            background-color: $secondary-color;
            color: $button-color;
            font-weight: 700;

            td {
              padding: 8px 0;

              div {
                outline: none;
                cursor: pointer;
              }

              md-divider {
                margin: 5px 0 3px;
              }

              p {
                font-size: 12px;
                margin: 0;
                font-weight: 400;

                span {
                  font-weight: 600;
                  margin-left: 40px;
                  white-space: no-wrap;
                }
              }
            }
          }

          .item-body {
            background-color: $alt-secondary-color;

            &.super {
              td {
                color: $secondary-color;
              }
            }

            &.high {
              td {
                color: $high-text-color;
              }
            }

            &.medium {
              td {
                color: $medium-text-color;
              }
            }

            &.low {
              td {
                color: $low-text-color;
              }
            }
          }
        }

        &.trend-record {
          td {
            &.red {
              color: $high-text-color;
            }

            &.green {
              color: $medium-text-color;
            }

            &.orange {
              color: $low-text-color;
            }
          }
        }

        &.client-note {
          tr {
            td {
              background-color: $alt-primary-color;
              padding: 8px 0;

              p {
                font-size: 12px;
                margin: 0;

                b {
                  color: $primary-color;
                  margin-right: 16px;
                }
              }
            }
          }
        }

        &.goal-record {
          tr {
            td {
              background-color: $purple-color;
              padding: 8px 0;
              font-weight: 600;
              color: $button-color;

              span {
                &:not(.item-date) {
                  font-size: 14px;
                  margin: 0;
                }
              }
            }
          }
        }

        &.message {
          tr {
            td {
              background-color: $msg-primary-color;
              padding: 8px 0;

              &.is-reply {
                background-color: $msg-secondary-color;
              }

              p {
                font-size: 12px;
                margin: 0;

                .material-icons {
                  font-size: 14px;
                  margin-right: 12px;
                }

                b {
                  color: $primary-color;
                  margin-right: 16px;
                }
              }
            }
          }
        }

        .btn-link {
          i {
            font-size: 16px;
          }
        }

        .item-date {
          font-size: 13px;
          font-weight: 400;
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }
  }
}