@import '../../common/variables';

.etp-track-log {
  .header {
    background-color: $light-bg-color;

    .md-subheader {
      background-color: $light-bg-color;
    }
  }

  .body {
    thead {
      background-color: $light-bg-color;
    }

    tbody {
      &.md-body {
        &.macro-review {
          tr {
            td {
              background-color: $primary-color;
              padding: 8px 0;
              color: $button-color;
              font-weight: 700;

              &.pending {
                background-color: $warning-color;
              }

              md-divider {
                margin: 5px 0 3px;
              }

              p {
                font-size: 12px;
                margin: 0;
                font-weight: 400;

                span {
                  font-weight: 600;
                  margin-left: 40px;
                  white-space: no-wrap;
                }
              }
            }
          }
        }

        &.macro-plan {
          .item-head {
            background-color: $secondary-color;
            color: $button-color;
            font-weight: 700;

            td {
              padding: 8px 0;

              div {
                outline: none;
                cursor: pointer;
              }

              md-divider {
                margin: 5px 0 3px;
              }

              p {
                font-size: 12px;
                margin: 0;
                font-weight: 400;

                span {
                  font-weight: 600;
                  margin-left: 40px;
                  white-space: no-wrap;
                }
              }
            }
          }

          .item-body {
            background-color: $alt-secondary-color;

            &.super {
              td {
                color: $secondary-color;
              }
            }

            &.high {
              td {
                color: $high-text-color;
              }
            }

            &.medium {
              td {
                color: $medium-text-color;
              }
            }

            &.low {
              td {
                color: $low-text-color;
              }
            }
          }
        }

        &.trend-record {
          td {
            &.red {
              color: $high-text-color;
            }

            &.green {
              color: $medium-text-color;
            }

            &.orange {
              color: $low-text-color;
            }
          }
        }

        .btn-link {
          i {
            font-size: 16px;
          }
        }

      }
    }
  }
}