@import '../../common/variables';

.reviews-page {
  .md-row {
    outline: none;

    .actions {
      text-align: center;
      vertical-align: middle;

      i {
        color: $primary-color;
      }
    }
  }

  .macro-review {
    .status {
      color: $success-color;
      font-weight: 700;

      &.pending {
        color: $warning-color;
      }
    }

    td {
      & > a {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    &.is-auto {
      td {
        background-color: $msg-primary-color;
      }
    }

    &.is-from-auto-plan {
      td {
        background-color: $msg-secondary-color;
      }
    }
  }

  md-checkbox {
    margin-bottom: 0;
  }
}
