<div class="md-dialog-container">
  <md-dialog layout-padding class="plan-notes-dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Plan Notes</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$dialog.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-input-container class="md-block" flex="100">
      <textarea ng-model="$dialog.notes"
                md-maxlength="500"
                required
                aria-label="macro-plan-notes"
                rows="1"></textarea>
    </md-input-container>
    <md-dialog-actions layout="row">
      <md-button class="etp-primary-button md-raised" ng-click="$dialog.save()" ng-disabled="!$dialog.isSavable()">Save</md-button>
      <md-button class="md-warn md-raised" ng-click="$dialog.cancel()">Cancel</md-button>
    </md-dialog-actions>
  </md-dialog>
</div>