@import '../../common/variables';

.etp-plan-edit {
  .head {
    .md-subheader {
      background-color: $bg-color;
    }

    .toggle {
      outline: none;
      color: $primary-color;
      cursor: pointer;
    }
  }

  .body {
    .new-plan {
      .md-table {
        .md-head {
          tr {
            height: 32px;
          }
        }

        tr {
          &:not(:first-child) {
            .md-cell {
              border-top: 0;
            }
          }

          th,
          .md-cell {
            text-transform: capitalize;

            &.label {
              font-weight: 700;
              font-size: 12px;
              color: $dark-text-color;
            }
          }
        }
      }

      md-input-container {
        margin: 0;

        .md-errors-spacer {
          display: none;
        }
      }

      .values {
        label {
          font-size: 12px;
        }

        md-input-container {
          margin-left: 20px;
        }
      }
    }
  }
}

.plan-notes-dialog {
  min-width: 360px;
}