<div class="etp-plan-edit" layout-padding>
  <section class="head" layout="row">
    <div flex="30">
      <md-subheader>Weekly Average</md-subheader>
    </div>
    <div flex="65" flex-offset="5" layout="row" layout-align="space-between center">
      <div flex layout="row">
        <md-subheader>{{$ctrl.plan.id ? 'New Plan' : 'Update Plan'}}</md-subheader>
        <md-button class="etp-primary-button" 
                  ng-click="$ctrl.addNew()"
                  ng-disabled="!$ctrl.plan.id">New</md-button>
        <md-button class="etp-primary-button md-raised"
                  ng-click="$ctrl.update()"
                  ng-disabled="!$ctrl.isPlanUpdatable()">{{$ctrl.plan.id ? "Update" : "Create"}}</md-button>
      </div>
      <span ng-click="$ctrl.toggle()" class="toggle">
        <i class="material-icons" ng-show="!$ctrl.isExpanded">keyboard_arrow_down</i>
        <i class="material-icons" ng-show="$ctrl.isExpanded">keyboard_arrow_up</i>
      </span>
    </div>
  </section>

  <md-divider></md-divider>

  <section class="body" layout="row" ng-show="$ctrl.isExpanded">
    <div flex="30" layout="column">
      <div class="progress" layout="column" layout-padding>
        <div layout="row" layout-align="space-between center">
          <span class="label">PROTEINS</span>
          <span layout="row">
            <span class="average">{{$ctrl.average.protein}}</span>
            <span class="max">/ {{$ctrl.max.protein}}g</span>
          </span>
        </div>
        <md-progress-linear md-mode="determinate" value="{{$ctrl.average.protein / $ctrl.max.protein * 100}}"></md-progress-linear>
      </div>

      <div class="progress" layout="column" layout-padding>
        <div layout="row" layout-align="space-between center">
          <span class="label">CARBS</span>
          <span layout="row">
            <span class="average">{{$ctrl.average.carbs}} </span>
            <span class="max"> / {{$ctrl.max.carbs}}g</span>
          </span>
        </div>
        <md-progress-linear md-mode="determinate" value="{{$ctrl.average.carbs / $ctrl.max.carbs * 100}}"></md-progress-linear>
      </div>

      <div class="progress" layout="column" layout-padding>
        <div layout="row" layout-align="space-between center">
          <span class="label">FATS</span>
          <span layout="row">
            <span class="average">{{$ctrl.average.fat}} </span>
            <span class="max"> / {{$ctrl.max.fat}}g</span>
          </span>
        </div>
        <md-progress-linear md-mode="determinate" value="{{$ctrl.average.fat / $ctrl.max.fat * 100}}"></md-progress-linear>
      </div>
    </div>
    <div flex="65" flex-offset="5" layout="column" class="new-plan" ng-form name="$ctrl.planForm">
      <div class="values" layout="row">
        <label flex="10" layout layout-align="end center">Start Date</label>
        <span flex="15" layout layout-align="begin center">
          <md-datepicker ng-model="$ctrl.plan.start_date"
                        ng-if="$ctrl.isSuper()"
                        ng-disabled="$ctrl.plan.id"
                        md-placeholder="Enter start date"></md-datepicker>
          <span ng-if="!$ctrl.isSuper()">{{$ctrl.client.current_plan.start_date}}</span>
        </span>

        <label flex="20" layout layout-align="end center">Super Day</label>
        <md-autocomplete flex="15"
            required
            md-no-cache="true"
            md-selected-item="$ctrl.super_day"
            md-search-text-change="$ctrl.addSuperDay($ctrl.searchText)"
            md-search-text="$ctrl.searchText"
            md-items="item in $ctrl.querySuperDay($ctrl.searchText)"
            md-selected-item-change="$ctrl.setSuperDay(item)"
            md-item-text="item.weekday"
            md-min-length="0"
            md-require-match
            md-floating-label="Select super day">
          <md-item-template>
            <span md-highlight-text="$ctrl.searchText">{{item.weekday}}</span>
          </md-item-template>
        </md-autocomplete>

        <label flex="20" layout layout-align="end center">Auto review</label>
        <md-autocomplete flex="20"
            md-no-cache="true"
            md-selected-item="$ctrl.auto_review"
            md-search-text="$ctrl.searchReview"
            md-items="item in $ctrl.queryAutoReview($ctrl.searchReview)"
            md-selected-item-change="$ctrl.setAutoReview(item)"
            md-item-text="item.name"
            md-min-length="0"
            md-clear-button="true"
            md-require-match
            md-floating-label="Select auto review">
          <md-item-template>
            <span md-highlight-text="$ctrl.searchReview">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
      </div>
      <div class="values" layout="row">
        <label flex="10" layout layout-align="end center">Note</label>
        <md-input-container flex="90">
          <textarea ng-model="$ctrl.plan.notes"
                    aria-label="notes"
                    required></textarea>
        </md-input-container>
      </div>
      <md-table-container>
        <table md-table md-row-select="false">
          <thead md-head>
            <tr md-row>
              <th md-column></th>
              <th md-column ng-repeat="level in $ctrl.levels">{{level}}</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="prop in $ctrl.props" ng-class="level">
              <td md-cell class="label">{{prop}}</td>
              <td md-cell ng-repeat="level in $ctrl.levels">
                <md-input-container>
                  <input ng-model="$ctrl.plan[$ctrl.planKey(level, prop)]" 
                        ng-blur="$ctrl.onChangePlan($ctrl.planKey(level, prop))";
                        type="number" 
                        step="5"
                        min="0" 
                        max="{{$ctrl.max[prop]}}" 
                        aria-label="{{$ctrl.planKey(level, prop)}}"
                        required>
                </md-input-container>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </section>
</div>