<div class="etp-client-info" layout-padding>
  <section class="head" layout="row" layout-align="space-between center">
    <md-subheader>{{$ctrl.client.first_name}} {{$ctrl.client.last_name}}'s Personal Info</md-subheader>
    <span ng-click="$ctrl.toggle()">
      <i class="material-icons" ng-show="!$ctrl.isExpanded">keyboard_arrow_down</i>
      <i class="material-icons" ng-show="$ctrl.isExpanded">keyboard_arrow_up</i>
    </span>
  </section>

  <md-divider></md-divider>

  <section class="body" layout="column" ng-show="$ctrl.isExpanded" layout-padding>
    <div layout="row">
      <div flex="25" layout="column">
        <div class="values" layout="row">
          <label flex="40">Gender</label>
          <span flex="60">{{$ctrl.client.bio.gender === 'M' ? 'Male' : 'Female'}}</span>
        </div>
        <div class="values" layout="row">
          <label flex="40">Age</label>
          <span flex="60">{{$ctrl.ages[$ctrl.client.bio.age]}}</span>
        </div>
        <div class="values" layout="row">
          <label flex="40">Weight</label>
          <span flex="60">{{$ctrl.client.bio.weight || 'Unknown'}} lbs</span>
        </div>
        <div class="values" layout="row">
          <label flex="40">Height</label>
          <span flex="60">{{$ctrl.client.bio.height | formatInch}}</span>
        </div>
        <div class="values" layout="row">
          <label flex="40">Facebook Name</label>
          <span flex="60">{{$ctrl.client.fb_name}}</span>
        </div>
      </div>

      <div flex="25" flex-offset="5" layout="column">
        <div class="values" layout="row">
          <label flex="40">Membership</label>
          <span flex="60">{{$ctrl.client.membership.name}}</span>
        </div>
        <div class="values" layout="row" layout-align="begin center">
          <label flex="40">Goal</label>
          <span flex="60" layout="row" ng-show="!$ctrl.isEditGoal" layout-align="begin center">
            <span>
              {{$ctrl.current_goal.description}}
              {{$ctrl.client.client_goal.phase ? '- Phase ' + $ctrl.client.client_goal.phase : ''}}
            </span>
            <md-button class="md-icon-button md-primary" 
                       aria-label="edit"
                       flex-offset="5"
                       ng-click="$ctrl.editGoal(true)"
                       ng-if="$ctrl.isEditable">
              <i class="material-icons">edit</i>
            </md-button>
          </span>
          <span flex="60" ng-show="$ctrl.isEditGoal" layout="column">
            <div layout="row" layout-align="begin center">
              <md-select ng-model="$ctrl.client_goal.goal" aria-label="goals" flex="100">
                <md-option ng-repeat="item in $ctrl.goals" ng-value="item">
                  {{item.description}}
                </md-option>
              </md-select>
            </div>
            <div layout="row" layout-align="end center">
              <md-slider-container flex="50" ng-show="$ctrl.client_goal.goal.phases">
                <md-slider 
                  flex
                  min="1"
                  max="{{$ctrl.client_goal.goal.phases}}"
                  ng-model="$ctrl.client_goal.phase"
                  aria-label="phase"
                  md-discrete
                ></md-slider>
              </md-slider-container>
              <div flex="50" layout layout-align="end center">
                <md-button class="md-icon-button md-primary" aria-label="check" ng-click="$ctrl.updateGoal()" flex-offset="5">
                  <i class="material-icons">check</i>
                </md-button>
                <md-button class="md-icon-button md-accent" aria-label="close" ng-click="$ctrl.cancelGoal()">
                  <i class="material-icons">close</i>
                </md-button>
              </div>
            </div>
          </span>
        </div>
        <div class="values" layout="row" layout-align="begin center">
          <label flex="">Goal Weight (lbs)</label>
          <span flex="60"
                layout="row"
                layout-align="begin center"
                ng-show="!$ctrl.isEditGoalWeight"
          >
            <span ng-show="$ctrl.client.client_goal.weight" layout layout-align="begin center">
              <i class="material-icons">
                {{$ctrl.client.client_goal.is_up ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}
              </i>
              {{$ctrl.client.client_goal.weight}}
            </span>
            <span ng-show="!$ctrl.client.client_goal.weight">Not specified</span>
            <md-button class="md-icon-button md-primary" 
                       aria-label="edit"
                       flex-offset="5"
                       ng-click="$ctrl.editGoalWeight(true)"
                       ng-if="$ctrl.isEditable">
              <i class="material-icons">edit</i>
            </md-button>
          </span>
          <span flex="60" layout="row" layout-align="begin center" ng-show="$ctrl.isEditGoalWeight">
            <md-input-container>
              <md-icon class="btn-up-goal-weight" ng-click="$ctrl.reverseUpGoalWeight()">
                {{$ctrl.client_goal_weight.is_up ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}
              </md-icon>
              <input ng-model="$ctrl.client_goal_weight.weight" type="number" step=".1" aria-label="goal_weight">
            </md-input-container>
            <md-button class="md-icon-button md-primary" aria-label="check" ng-click="$ctrl.updateGoalWeight()" flex-offset="5">
              <i class="material-icons">check</i>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="close" ng-click="$ctrl.cancelGoalWeight()">
              <i class="material-icons">close</i>
            </md-button>
          </span>
        </div>
        <div class="values" layout="row">
          <label flex="40">Since</label>
          <span flex="60">{{$ctrl.client.goal_record.created_at | simpleDate}}</span>
        </div>
      </div>

      <div flex="40" flex-offset="5" layout="column">
        <div layout="column">
          <div class="values">
            <label>Activity Description</label>
          </div>
          <div class="values">
            <span>{{$ctrl.client.setting.daily_activity}}</span>
          </div>
        </div>
        <div layout="row" class="values" layout-align="begin center">
          <label flex="30">Assigned Coach</label>
          <div flex="70">
            <div ng-show="!$ctrl.isEditCoach" layout="row" layout-align="begin center">
              <span ng-if="$ctrl.client.setting.coach">
                {{$ctrl.client.setting.coach.first_name}}
                {{$ctrl.client.setting.coach.last_name}}
              </span>
              <span ng-if="!$ctrl.client.setting.coach">No coach</span>
              <md-button class="md-icon-button md-primary" 
                       aria-label="edit"
                       flex-offset="5"
                       ng-click="$ctrl.editCoach(true)"
                       ng-if="$ctrl.isEditable">
                <i class="material-icons">edit</i>
              </md-button>
              <a ui-sref="message({client_id: $ctrl.client.id})" class="to-message" ng-if="$ctrl.isMyAssignee()">
                <i class="material-icons">chat</i>
                <md-tooltip>Send message to {{$ctrl.client.first_name}}</md-tooltip>
              </a>
            </div>
            <div ng-show="$ctrl.isEditCoach" layout="row" layout-align="begin center">
              <md-button class="md-icon-button md-primary" aria-label="default" ng-click="$ctrl.setMeAsCoach()">
                <i class="material-icons">keyboard_return</i>
                <md-tooltip>Assign yourself</md-tooltip>
              </md-button>
              <md-autocomplete flex="15"
                  md-selected-item="$ctrl.assigned_coach"
                  md-search-text="$ctrl.searchCoach"
                  md-items="item in $ctrl.queryCoaches($ctrl.searchCoach)"
                  md-item-text="$ctrl.coachName(item)"
                  md-min-length="0"
                  md-floating-label="Select a coach">
                <md-item-template>
                  <span md-highlight-text="$ctrl.searchCoach">{{$ctrl.coachName(item)}}</span>
                </md-item-template>
              </md-autocomplete>
              <md-button class="md-icon-button md-primary" aria-label="check" ng-click="$ctrl.updateCoach()">
                <i class="material-icons">check</i>
              </md-button>
              <md-button class="md-icon-button md-accent" aria-label="close" ng-click="$ctrl.editCoach(false)">
                <i class="material-icons">close</i>
              </md-button>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout="column">
      <div class="values">
        <label>Latest Note</label>
      </div>
      <div class="values">
        <span flex="100">{{$ctrl.client.current_plan.notes}}</span>
      </div>
    </div>
  </section>
</div>
