@import '../../common/variables';

.etp-client-info {
  section {
    &.head {
      .md-subheader {
        background-color: $bg-color;
      }

      span {
        outline: none;
        cursor: pointer;

        i {
          color: $primary-color;
        }
      }
    }

    &.body {
      md-select {
        margin: 0;
      }

      .md-errors-spacer {
        display: none;
      }

      .to-message {
        color: $primary-color;
      }

      md-slider {
        min-width: 10px;
      }

      .btn-up-goal-weight {
        color: $primary-color;
        cursor: pointer;
        border: 1px solid $border-color;
        outline: none;
      }
    }
  }
}
