@import '../../common/variables';

.etp-client-info {
  section {
    &.head {
      .md-subheader {
        background-color: $bg-color;
      }

      span {
        outline: none;
        cursor: pointer;

        i {
          color: $primary-color;
        }
      }
    }
  }
}