@import '../../common/variables';

.etp-main-menu {
  padding-bottom: 20px;

  .badge {
    border-radius: 50%;
    color: $button-color;
    background-color: $primary-color;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 8px;
  }
}
